.new-post {
	padding: 16px 0;
	border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
	margin-bottom: 20px;
}

.posts .post {
	padding-left: 10px;
	margin-bottom: 30px;
}

.posts .post .info,
.comment .info {
	color: #aaa;
	font-style: italic;
}

.error,
.success {
	text-align: center;
	border-radius: 3px;
	align-content: center;
}

.error {
	border: 1px solid red;
	background-color: #f9b5af;
	color: red;
}

.error ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.success {
	border: 1px solid green;
	background-color: #d1f9da;
	color: green;
}

.comment,
.create_comment {
	border-bottom: 1px solid #e6e6e6;
	margin-left: 30px;
	margin-bottom: 15px;
}

.row {
	border-left: 1px solid #ccc;;
	border-right: 1px solid #ccc;
}

.post {
	border-bottom: 1px solid #e6e6e6;
}

.comment h6,
.comment p {
	margin-bottom: 3px;
}

.create_comment {
	padding-bottom: 20px;
}